.par__text {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .0178571429em;
    word-break: normal;
    margin: 0;
}

.par__color_Red{
    color: #d32f2f;
}
.par__color_Pink{
    color: #c2185b;
}
.par__color_Purple{
    color: #7b1fa2;
}
.par__color_Indigo{
    color: #303f9f;
}
.par__color_Light_Blue{
    color: #03a9f4;
}
.par__color_Teal{
    color: #00796b;
}
.par__color_Green{
    color: #66bb6a;
}
.par__color_Lime{
    color: #7c8500;
}
.par__color_Yellow{
    color: #fbc02d;
}
.par__color_Orange{
    color: #ff6d00;
}
.par__color_Blue_Grey{
    color: #455a64;
}
.par__color_Black{
    color: #000;
}

.par__size_xl{
    font-size: 1.75rem;
    line-height: 2.0rem;
}
.par__size_l{
    font-size: 1.5rem;
    line-height: 1.75rem;
}
.par__size_m{
    font-size: 1.0rem;
    line-height: 1.5rem;
}
.par__size_s{
    font-size: 0.75rem;
    line-height: 1.25rem;
}
.par__size_xs{
    font-size: 0.5rem;
    line-height: 1.0rem;
}

.par__textAlign_lf{
    text-align: left;
}
.par__textAlign_md{
    text-align: center;
}
.par__textAlign_rt{
    text-align: right;
}
.par__textAlign_jf{
    text-align: justify;
}


.par__textStyle_n{
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.par__textStyle_b{
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.par__textStyle_i{
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
}
.par__textStyle_u{
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}
.par__textStyle_b_u{
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}
.par__textStyle_i_u{
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
}
.par__textStyle_b_i{
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
.par__textStyle_b_i_u{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.infocard{
    background-color: #eee;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    box-shadow: #0000006c 0 1px 4px 2px;
}

.infocard__icon{
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 8px;
    margin-top: 0px;
    align-self: center;
    margin-bottom: 0px;
}

.infocard__text{
    flex-grow: 1;
    flex-shrink: 1;
}

.infocard__color_Red{
    color: #b71c1c;
    background-color: #ffbcaf;
}
.infocard__color_Pink{
    color: #880e4f;
    background-color: #ffb2dd;
}
.infocard__color_Purple{
    color: #4a148c;
    background-color: #e1bee7;
}
.infocard__color_Indigo{
    color: #1a237e;
    background-color: #c0cfff;
}
.infocard__color_Light_Blue{
    color: #01579b;
    background-color: #b3e5fc;
}
.infocard__color_Teal{
    color: #004d40;
    background-color: #b2dfdb;
}
.infocard__color_Green{
    color: #1b5e20;
    background-color: #a5d6a7;
}
.infocard__color_Lime{
    color: #827717;
    background-color: #e6ee9c;
}
.infocard__color_Yellow{
    color: #f57f17;
    background-color: #ffffbf;
}
.infocard__color_Orange{
    color: #dd2c00;
    background-color: #ffcc80;
}
.infocard__color_Blue_Grey{
    color: #37474f;
    background-color: #cfd8dc;
}
.infocard__color_Black{
    color: #424242;
    background-color: #c2c2c2;
}

.video__preview_holder{
    background-color: #ccc;
    position: relative;
    width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.video__preview{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.video__preview_icon{
    padding: 8px;
    background-color: #fff;
    color: #333;
    border-radius: 48px;
    margin: auto;
    font-size: 64px;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    left: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    right: 0;
    top: 0;
}


.ans__correct{
    margin-right: -8px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: -8px;
    background-color: #a5d6a7;
    padding-right: 8px;
    padding-left: 8px;
    color: #1b5e20;
}

.ans__wrong{
    margin-top: 2px;
    margin-bottom: 2px;
    color: #dd2c00;
}

.test_item_card{
    display: block !important;
    background-color: #eee;
}
