* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.1s ease, background 0.1s ease;
}

.main {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    min-width: 200px;
    min-height: 100%;

    margin-right: 20px;

    color: white;

    background-color: #80d6ff;
    box-shadow: 1px 1px 8px 0px rgb(34 60 80 / 20%);
    transition: left 0.2s ease;
}
.sidebar__sticky {
    position: sticky;
    top: 0;
    width: auto;
    height: auto;
}
.sidebar.sidebar--mobail {
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid white;
    cursor: pointer;
}
.material-icons {
    transition: transform 0.1s ease;
}
.material-icons--activ {
    transform: rotate(-180deg);
}
.sidebar__header {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.sidebar__header:last-child {
    border-bottom: 0;
}
.menu__list {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    background: #6ec6ff;
}

.menu__item {
    display: flex;
    padding: 10px;
    line-height: 100%;
    align-items: center;
}
.menu__item:hover {
    background-color: #2196f3;
    cursor: pointer;
}
.btn-theme {
    width: 100%;
    border: none;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
}
.right-arrow {
    padding-right: 10px;
    font-size: 20px;
}
.btn-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
    background-color: #80d6ff;
    height: 40px;
    width: 40px;
    border: none;
    color: white;
    cursor: pointer;
}
.btn-menu__icon {
    font-size: 35px;
}

@media (max-width: 640px) {
    .sidebar {
        position: fixed;
        left: -200px;
    }
    .sidebar__sticky {
        position: static;
    }
    .btn-menu {
        display: block;
    }
    .menu__item {
        padding: 1.3rem;
    }
    
}